- ride_set_map = RideSetMap.new(resource, self)

= visualization do |v|
  - options = {fill_opacity: 0.2, fill_color: "#3171A9", color: '#FFFFFF', weight: 3}
  - ride_set_map.parcels_near_rides.each do |parcel|
    - v.serie parcel.name, [parcel]
    - v.simple parcel.name, parcel.name, options

  - if ride_set_map.rides.any?
    - ride_set_map.rides.each do |ride|
      - v.serie  ride.name, ride.crumbs
      - v.paths :ride, ride.name, colors: ride.colors
    - v.control :zoom
    - v.control :scale
    - v.control :fullscreen
    - v.control :layer_selector